html,
body {
    font-size: 14px;
}

.blog-masthead {
    background-color: #b34848;
}

.blog-post-title,
.blog-title,
h1, h2, h3, h4, h5, h6 {
    color: #b34848;
}

.blog-post-title:hover {
    color: #b34848;
}

.create-new-post label {
    display: block;
}

.create-new-post input {
    display: block;
}